<div class="form-container">
  <form>
    <h3>Auto toevoegen</h3>
    <mat-form-field>
      <input
        matInput
        (focusout)="retrieveCarData($event.target.value)"
        placeholder="Kenteken"
        [(ngModel)]="this.data.licensePlateNumber"
        name="licensPlateNumber"
        required
        minlength="6"
        maxlength="6"
        (input)="this.data.licensePlateNumber=$event.target.value.toUpperCase()"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Type"
        [(ngModel)]="this.data.vehicleType"
        name="vehicleType"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Motor"
        [(ngModel)]="this.data.engineType"
        name="engineType"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Brandstof"
        [(ngModel)]="this.data.fuelType"
        name="fuelType"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="this.data.energyLabel"
        name="energyLabel"
        disabled
      />
    </mat-form-field>
    <div class="action-bar">
      <button mat-button (click)="onCancelClick()" color="warn" type="button">
        Annuleren
      </button>
      <button
        class="save-button"
        mat-button
        (click)="onSubmit()"
        color="primary"
        type="submit"
      >
        Toevoegen
      </button>
    </div>
  </form>
</div>
