<div class="rr-landing">
  <div class="content-wrapper">
    <div class="content">
      <ul>
        <li>
          <a href="#">
            <div class="item-content">
              <h3>Algemeen</h3>
              <p>Algemene informatie over het overheidsportaal</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/auto-beheer">
            <div class="item-content">
              <h3>Auto beheer</h3>
              <p>Hier kunnen alle actieve auto's worden beheerd</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/rekeningrijder-beheer">
            <div class="item-content">
              <h3>Rekeningrijder beheer</h3>
              <p>Hier kunnen alle actieve rekeningrijders worden beheerd</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="item-content">
              <h3>Cartracker beheer</h3>
              <p>Hier kunnen alle actieve cartrackers worden beheerd</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>