<div class="table-container">
  <div class="table-top-bar">
    <h3>Auto beheer</h3>
    <button mat-button color="primary" (click)="openAddCarDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="licensePlateNumber">
      <th mat-header-cell *matHeaderCellDef> Kenteken </th>
      <td mat-cell *matCellDef="let element"> {{element.licensePlateNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="carType">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.carType}} </td>
    </ng-container>

    <ng-container matColumnDef="engineType">
      <th mat-header-cell *matHeaderCellDef> Motor </th>
      <td mat-cell *matCellDef="let element"> {{element.engineType}} </td>
    </ng-container>

    <ng-container matColumnDef="fuelType">
      <th mat-header-cell *matHeaderCellDef> Brandstof </th>
      <td mat-cell *matCellDef="let element"> {{element.fuelType}} </td>
    </ng-container>

    <ng-container matColumnDef="energyLabel">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.energyLabel}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acties </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openEditCarDialog()" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="openDeleteCarDialog()" color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="action-bar">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </div>
</div>