<h1 mat-dialog-title>Selecteer een auto</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="this.cars">
    <mat-select placeholder="Selecteer een auto" [(value)]="this.selectedCar">
      <mat-option *ngFor="let car of cars" [value]="car">
        {{car.LicensePlateNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Annuleren</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Toewijzen</button>
</div>